<!--content开始-->
<div class="content">
    <div class="pageW bc mt20 ">

        <div class="fr user_right">
            <div class="fcolor5 user_right_w fl">账号管理&nbsp;&gt;&nbsp;修改密码</div>
            <div class="user_cont2 fcolor5 user_right_w fl bor4 pad10 mt10" style="height: 235px;">
                <ul>
		<%= form_for User.new, url: {action: "UpdatePassword"} do |f| %>
                 <li> <div>
             <%= f.label :'旧密码' %>
    <%= f.text_field  :password %>
          	      </div>
                  </li>
                  <li><div>
            <%= f.label :'新密码' %>
    <%= f.text_field  :username %>
          	       </div>
                  </li>
		  
            
		 <% if %>
            <p id="notice"><%= flash[:alert] %></p>
          <% end %>   
                    <div class="cur user_submit reque"><input type="submit" name="commit" value="确认" style="font-size:16px; color:#fff; border-radius:6px; background:#3eb692; padding: 10px 70px;"></div>

          
          
	  
          
<% end %>
 </ul>
            </div>
        </div>
    </div>
    
    
</div>
<div style="clear:both;" class="mb20"></div>
<!--content结束-->

