
<!--content开始-->
<div class="content mt20">
    <div class="pageW bc bcolor3">
        <div class="line2 pad20 abuout_h">
            <div class="fl abuout_img">
                <img src="<%= image_url("com/about_1.jpg") %>"  height=140>
            </div>
            <div class="fr abuout_con ml10">
                <div class="fcolor4 f20">平台简介</div>
                <div class="">e采购，是瓷砖行业内采购招标平台，通过联合"e选材"，"e找砖"，"e直供”三大电商平台，引入海量采购商家，囊括装修公司，工程师，线下实体店瓷砖商家，线下网络分销商等四大类精准商家，进行招标采购工作，旨在为广大供应商搭建一个免费的O2O合作平台，获取品牌曝光、提升品牌知名度、增加销售渠道，同时可以通过e采购平台将您的产品推送到平台上进行展示曝光，增加品牌影响力，可以进行对采购信息进行投标抢单，获取得到更多订单，达成共赢</div>
            </div>
        </div>
        <div class="line2 pad20 abuout_h">
            <div class="fl abuout_img">
                <img src="<%= image_url("com/about_2.jpg") %>" height=140>
            </div>
            <div class="fr abuout_con ml10">
                <div class="fcolor4 f20">联系方式</div>
                <div class="">全国服务热线: 0757-82581702 <br>在线客服QQ: 3128669632</div>
            </div>
        </div>
    </div>   
</div>

<div class="cr mt20"></div>
<div style="height:40px;background:#f6f6f6;"></div>
<!--content结束-->

