<!--content开始-->
<div class="content mt20">
    <div class="pageW bc bcolor3">
        <div class="strategy"><img src="<%= image_url("com/strategy_01.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_06.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_09.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_11.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_14.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_02.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_03.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_04.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_05.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_16.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_08.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_10.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_12.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_13.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_15.jpg") %>" alt="" width="236"></div>
        <div class="strategy"><img src="<%= image_url("com/strategy_07.jpg") %>" alt="" width="236"></div>
    </div>   
</div>

<div class="cr mt20"></div>
<div style="height:40px;background:#f6f6f6;"></div>
<div style="clear:both;" class="mb20"></div>
<!--content结束-->

