<!--content开始-->
<div class="content">
    <div class="pageW bc bcolor3 h500">
        <div class="fl zhao_w_left">
            <img src="<%= image_url("com/back02.jpg") %>" alt="" width="">
        </div>
        <div class="fl zhao_w_right bcolor3">
            <div class="bor_bot top_1 fl padl10 fcolor4">订单成交情况</div>
            <div class="fl top_2">
                <ul>
                    <li><span>佛山楼兰有限公司</span><span>大理石600*900</span><span>1000㎡</span><span>以成交</span><span>2016-09-27</span></li>
                    <li><span>佛山照明有限公司</span><span>异形瓷片300*600</span><span>10000㎡</span><span>以成交</span><span>2016-09-27</span></li>
                    <li><span>佛山大力有限公司</span><span>大理石800*800</span><span>15000㎡</span><span>以成交</span><span>2016-09-26</span></li>
                    <li><span>广东自能有限公司</span><span>3D高清喷墨抛光砖800*800</span><span>5000㎡</span><span>以成交</span><span>2016-09-25</span></li>
                    <li><span>佛山光景有限公司</span><span>厚砖600*600</span><span>10500㎡</span><span>以成交</span><span>2016-09-24</span></li>
                    
                   
                </ul>
            </div>
        </div>
        
    </div>
    <div class="pageW bc mt20">
        <div class="dynamic2">
            <div class="nav1 tc">
                <span>招标商品</span>
                <span>招标数量</span>
                <span>收货地址</span>
                <span>发布日期</span>
                <span>剩余时间</span>
                <span>投标量</span>
            </div>
            <div class="tc nav2">
                <ul>
                    <li><span>马赛克</span><span>1000sqm</span><span>广东省佛山时禅城区</span><span>2016-9-8</span><span>/</span><span>30</span><span class="actt cur">完成招标</span></li>
                    <li><span>马赛克</span><span>1000sqm</span><span>广东省佛山时禅城区</span><span>2016-9-8</span><span>/</span><span>30</span><span class="actt cur">完成招标</span></li>
                    <li><span>马赛克</span><span>1000sqm</span><span>广东省佛山时禅城区</span><span>2016-9-8</span><span>/</span><span>30</span><span class="actt cur">完成招标</span></li>
                    <li><span>马赛克</span><span>1000sqm</span><span>广东省佛山时禅城区</span><span>2016-9-8</span><span>/</span><span>30</span><span class="actt cur">完成招标</span></li>
                    <li><span>马赛克</span><span>1000sqm</span><span>广东省佛山时禅城区</span><span>2016-9-8</span><span>/</span><span>30</span><span class="actt cur">完成招标</span></li>
                    <li><span>马赛克</span><span>1000sqm</span><span>广东省佛山时禅城区</span><span>2016-9-8</span><span>/</span><span>30</span><span class="actt cur">完成招标</span></li>
                    <li><span>马赛克</span><span>1000sqm</span><span>广东省佛山时禅城区</span><span>2016-9-8</span><span>/</span><span>30</span><span class="actt cur">完成招标</span></li>
                    <li><span>马赛克</span><span>1000sqm</span><span>广东省佛山时禅城区</span><span>2016-9-8</span><span>/</span><span>30</span><span class="actt cur">完成招标</span></li>
                    <li><span>马赛克</span><span>1000sqm</span><span>广东省佛山时禅城区</span><span>2016-9-8</span><span>/</span><span>30</span><span class="actt cur">完成招标</span></li>
                </ul>
            </div>
            <div class="pageW fl bcolor3">
                <div class="tc pag fr">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                    </ul>
                </div>
            </div>
        </div>
    
    </div>
    
</div>
<div style="height:40px;background:#f6f6f6;"></div>
<!--content结束-->

