<!--left开始-->
<div class="fl user_left ">
            <div class="fl user_top bor2">
                <div class="user_top2 tc bcolor5 fcolor2">产品管理</div>
            </div>
            <div class="fl user_top bor2 mt20">
                <div class="user_top2 tc  fcolor4">审核管理</div>
            </div>
            <div class="fl user_top bor2 mt20">
                <div class="user_top2 tc  fcolor4">供应商管理</div>
            </div>
        </div>

<!--left结束-->