<!--left开始-->
<div class="fl user_left ">
    <div class="fl user_top bor2">
        <div class="user_top2 tc bcolor5 fcolor2">产品管理</div>
        <div class="user_top3 tc mt10 mb10">
            <ul>
                <li><a href="#">已上架商品</a></li>
                <li><a href="#">已下架商品</a></li>
            </ul>
        </div>
    </div>
    <div class="fl user_top bor2 mt20">
        <div class="user_top2 tc bcolor5 fcolor2">产品发布</div>
        <div class="user_top3 tc mt10 mb10">
            <ul>
                <li><a href="#">产品发布</a></li>
            </ul>
        </div>
    </div>
    <div class="fl user_top bor2 mt20">
        <div class="user_top2 tc bcolor5 fcolor2">账号管理</div>
        <div class="user_top3 tc mt10 mb10">
            <ul>
                <li><a href="#">企业信息</a></li>
                <li><a href="#">修改密码</a></li>
            </ul>
        </div>
    </div>
</div>

<!--left结束-->