
.content {
background:#f6f6f6;
width:100%;
}

.content .zhao_w_left {
width:687px;
}

.content .zhao_w_right {
width:503px;
height:500px;
}

.content .zhao_w_right .top_1 {
height:39px;
width:493px;
line-height:40px;
overflow:hidden;
}

.content .zhao_w_right .top_2 {
width:503px;
}

.content .zhao_w_right .top_2 li {
font-size:14px;
line-height:45px;
height:45px;
border-bottom:1px dashed #787878;
margin:0 10px;
padding:0 10px;
}

.content .zhao_w_right .top_2 li span {
float:left;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
width:92px;
}

.content .dynamic {
height:66px;
background:image_url("com/backgro.jpg") repeat-x;
}

.content .dynamic span {
position:relative;
top:30px;
}

.content .dynamic2 {
height:543px;
}

.content .dynamic2 .nav1 {
height:50px;
background:#ededed;
}

.content .dynamic2 .nav1 span {
float:left;
width:150px;
line-height:50px;
padding:0 10px;
}

.content .dynamic2 .nav2 {
height:493px;
background:#fff;
}

.content .dynamic2 .nav2 li {
line-height:50px;
border-bottom:1px dashed #c3c3c3;
height:50px;
margin:0 10px;
}

.content .dynamic2 .nav2 li span {
width:167px;
float:left;
}

.content .dynamic2 .nav2 li .actt {
background:#aeaeae;
border-radius:4px;
color:#fff;
line-height:30px;
width:100px;
position:relative;
top:10px;
}

.dynamic2 .pag li {
float:left;
margin:5px;
}

.dynamic2 .pag a {
border:1px solid #d5d5d5;
padding:4px 6px;
}

.content .shop_1 .shop_nv {
width:236px;
float:left;
border:1px solid #e6e6e6;
padding:80px 0;
}

.content .shop_1 .shop_nv img {
display:inline;
}

.content .abuout_h{
    height:175px;
}
.content .abuout_h .abuout_img{
    width:20%;
}
.content .abuout_h .abuout_con{
    width:78%;
}
.content .strategy{
    width:236px;
    float:left;
    border:1px solid #e6e6e6;
}
