<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>产品管理详情</title>
<link href="../assets/stylesheets/common.css" rel="stylesheet" type="text/css">
<link href="../assets/stylesheets/index.css" rel="stylesheet" type="text/css">
<link href="../assets/stylesheets/zhaobiao.css" rel="stylesheet" type="text/css">
<link href="../assets/stylesheets/users.css" rel="stylesheet" type="text/css">
</head>
<body>
<!--content开始-->
<div class="content">
    <div class="pageW bc mt20 ">
        <div class="fl user_left ">
            <div class="fl user_top bor2">
                <div class="user_top2 tc bcolor5 fcolor2">产品管理</div>
                <div class="user_top3 tc mt10 mb10">
                    <ul>
                        <li><a href="#">已上架商品</a></li>
                        <li><a href="#">已下架商品</a></li>
                    </ul>
                </div>
            </div>
            <div class="fl user_top bor2 mt20">
                <div class="user_top2 tc bcolor5 fcolor2">产品发布</div>
                <div class="user_top3 tc mt10 mb10">
                    <ul>
                        <li><a href="#">产品发布</a></li>
                    </ul>
                </div>
            </div>
            <div class="fl user_top bor2 mt20">
                <div class="user_top2 tc bcolor5 fcolor2">账号管理</div>
                <div class="user_top3 tc mt10 mb10">
                    <ul>
                        <li><a href="#">企业信息</a></li>
                        <li><a href="#">修改密码</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fr user_right">
            <div class="fcolor5 user_right_w fl">产品管理&nbsp;&gt;上架产品&nbsp;&gt;产品详情</div>
            <div class="user_cont2 fcolor5 user_right_w fl bor4 pad10 mt20">
                <ul>
                    <li>
                        <p class="user_sqbCon">产品分类:&nbsp;&nbsp;瓷砖&nbsp;&nbsp;木纹砖</p>
                    </li>
                    <li>
                        <p class="user_sqbCon">产品状态:&nbsp;&nbsp;常规&nbsp;/&nbsp;新品&nbsp;/&nbsp;尾货</p>
                    </li>
                    <li>
                        <p class="user_sqbCon">产品名称:&nbsp;&nbsp;通体砖土耳其洞石</p>
                    </li>
                    <li>
                        <p class="user_sqbCon">产品型号:&nbsp;&nbsp;LCS454634464</p>
                    </li>
                    <li>
                        <p class="user_sqbCon">产品价格:&nbsp;&nbsp;￥3.33/片</p>
                    </li>
                    <li>
                        <p class="user_sqbCon">起订量:&nbsp;&nbsp;3000片</p>
                    </li>
                    <li>
                        <p class="user_sqbCon">供货量:&nbsp;&nbsp;10000000片</p>
                    </li>
                    <li style="border-bottom-color:#fff;">
                       <p class="user_sqbCon">其他参数:</p>
                       <textarea type="text" readonly="readonly" class="user_input" style="width:60%;border-radius: 10px;margin-top: 20px;height:150px;resize: none;padding:20px;border:1px solid #838383;" name="company_name" >例如 颜色:红色，质面:哑面，尺寸:300×300mm</textarea><br>
                           <p class="user_sqbCon">相关照片:</p>
                        <div class="ml70 user_po" style="height:100px;">
                            <div class="user_p">
                            <div >
                              <img id="company_pic_1" src='../assets/images/com/register_04.jpg' width="100" height="100"  />
                            </div>
                            </div>
                            <div class="user_p user_pos">
                            <div >
                              <img id="company_pic_2" src='../assets/images/com/register_04.jpg' width="100" height="100"  />
                                              </div>
                            </div>
                            <div class="user_p user_pos">
                            <div >
                              <img id="company_pic_3" src='../assets/images/com/register_04.jpg' width="100" height="100"  />
                                              </div>   
                            </div>
                            <div class="user_p user_pos">
                                <div >
                                  <img id="company_pic_4" src='../assets/images/com/register_04.jpg' width="100" height="100"  />
                                </div>
                            </div>
                            <div class="user_p user_pos">
                            <div >
                              <img id="company_pic_5" src='../assets/images/com/register_04.jpg' width="100" height="100"  />
                               </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
</div>

<!--content结束-->
<!--footer结束-->
</body>
</html>