<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<title>修改密码</title>
<link href="../assets/stylesheets/common.css" rel="stylesheet" type="text/css">
<link href="../assets/stylesheets/index.css" rel="stylesheet" type="text/css">
<link href="../assets/stylesheets/zhaobiao.css" rel="stylesheet" type="text/css">
<link href="../assets/stylesheets/users.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../assets/javascripts/jquery-1.10.2.min.js"></script> 
</head>
<body>
<!--content开始-->
<div class="content">
    <div class="pageW bc mt20 ">
        <div class="fl user_left ">
            <div class="fl user_top bor2">
                <div class="user_top2 tc bcolor5 fcolor2">产品管理</div>
                <div class="user_top3 tc mt10 mb10">
                    <ul>
                        <li><a href="#">已上架商品</a></li>
                        <li><a href="#">已下架商品</a></li>
                    </ul>
                </div>
            </div>
            <div class="fl user_top bor2 mt20">
                <div class="user_top2 tc bcolor5 fcolor2">产品发布</div>
                <div class="user_top3 tc mt10 mb10">
                    <ul>
                        <li><a href="#">产品发布</a></li>
                    </ul>
                </div>
            </div>
            <div class="fl user_top bor2 mt20">
                <div class="user_top2 tc bcolor5 fcolor2">账号管理</div>
                <div class="user_top3 tc mt10 mb10">
                    <ul>
                        <li><a href="#">企业信息</a></li>
                        <li><a href="#">修改密码</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fr user_right">
            <div class="fcolor5 user_right_w fl">账号管理&nbsp;&gt;&nbsp;修改密码</div>
            <div class="user_cont2 fcolor5 user_right_w fl bor4 pad10 mt10" style="height: 235px;">
                <ul>
                    
                    <li>
                        <input type="text" class="user_input" name="company_name"  value="旧密码" onfocus="if(value=='旧密码') {value=''}" onblur="if (value=='') {value='旧密码'}">
                    </li>
                    <li>
                        <input type="text" class="user_input" name="company_name"  value="新密码" onfocus="if(value=='新密码') {value=''}" onblur="if (value=='') {value='新密码'}">
                    </li>
                    <li>
                        <input type="text" class="user_input" name="company_name"  value="确认新密码" onfocus="if(value=='确认新密码') {value=''}" onblur="if (value=='') {value='确认新密码'}">
                    </li>
                    <div class="cur user_submit reque"><span>确认</span></div>
                </ul>
            </div>
        </div>
    </div>
    
    
</div>

<!--content结束-->
<!--footer结束-->
</body>
</html>